################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/start_server.py
